.password-input, .username-input, .name, .username, .password {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border-color: rgb(123, 12, 123);
    border-style: ridge;
}

.form-div {
    display: block;
    margin-left: 600px;
    padding-top: 100px;
}

.login-button, .sign-up-button {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    color: rgb(123, 12, 123);
    background: rgb(13, 123, 233);
}