.password-input, .username-input, .name, .username, .email, .first-name, .password {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border-color: rgb(123, 12, 123);
    border-style: ridge;
}

.form-div {
    display: block;
    margin-left: 600px;
    padding-top: 100px;
    margin-top: 100px;
}

.login-button, .sign-up-button {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    color: rgb(123, 12, 123);
    background: rgb(13, 123, 233);
}

.intro-paragraph, .sign-up-link, .forgotten-password-link {
    color: rgb(255,233,233);
}

.sign-up-link:hover, .login-button:hover, .sign-up-button:hover, .forgotten-password-link:hover {
    color: rgb(12, 200, 13);
}